

@font-face {
    font-family: 'Comfortaa Sans';
    src: url(../fonts/Comfortaa-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Product Sans';
    src: url(../fonts/ProductSans-Regular.ttf);
}
